Update product <%= @product.name %>
<form action="/products/<%= @product.id %>" method="POST">
  <input type="hidden" name="_method" value="patch"/>
  <input type="text" name="product[name]" value="<%= @product.name %>"/>
  <input type="text" name="product[price]" value="<%= @product.price %>"/>
  <input type='submit' value='Update'/>
</form>
